<%- include("header") -%> 

<h2>This is the about page</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore totam quibusdam magni inventore fugiat cum, recusandae aliquam eligendi praesentium. Deserunt aliquid impedit doloremque! Laboriosam id porro molestiae, quos hic veritatis!</p>

<%- include("footer") -%> 